<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <%- include('./partials/headerDeslogueado') %> 

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
               
                <ul>
                    <% if(usuarios.length ==0) {<% 
                    <h2>No results</h2> %>} else {<% 
                        <% for (let i = 0; i < usuarios.length; i++) {<%
                            <li>
                                <a href="Perfil/<%= usuarios(i).id %>" class="links">
                                 <img src="<%= usuarios(i).fotoPerfil %>" alt="foto de perfil" width="150px" class="fotoPerfil">
                                 <%= usuarios(i).fotoPerfil %> <%= usuarios.(i).apellido %>
                                    </a>
                                    </li> 
                                    <% } %>
                                    <% } %> 
                </ul>

            </div>
        </div>
    </main>

    <% include partials/footer %>

    <footer class="uk-position-bottom uk-position-fixed uk-background-primary uk-flex uk-flex-between uk-flex-middle">
        <ul class="uk-width-1-6 uk-flex uk-flex-middle uk-flex-around uk-height-1-1 uk-margin-remove uk-padding-remove">
            <li><a href="" uk-icon="instagram"></a></li>
            <li><a href="" uk-icon="facebook"></a></li>
            <li><a href="" uk-icon="twitter"></a></li>
        </ul>
        <ul class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-between uk-height-1-1 uk-margin-remove uk-padding-remove">
            <li>Martin Hernandez</li>
            <li>Lucia Perez</li>
            <li>Gaston Sanchez</li>
        </ul>
    </footer>


</body>

</html>