<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <%- include('./partials/headerDeslogueado') %> 

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
               
                <ul>
                    <% if(usuarios.length == 0) {%>
                        <h2>No results</h2>
                    <%} else{%>
                        <% for( let i = 0; i < usuarios.length; i++ ) { %>
                        <li>
                            <a href="/detalleUsuario/<%= usuarios[i].id %>" class="links">
                            <%= usuarios[i].nombre %> <%= usuarios[i].apellido %>
                            </a> 
                        </li>    
                         <% } %>
                <% } %>
                </ul>

            </div>
        </div>
    </main>

    <% include partials/footer %>

</body>

</html>